html {
  font-family: sans-serif;
}

/* Your CSS below here */

div {
  width: 200px;
  height: 200px;
  line-height: 200px;
  margin: auto;
  text-align: center;
  font-size: 1.2rem;
  color: white;
  text-shadow: 1px 1px black;
  border: 1px solid crimson;
  border-radius: 20px;
  box-shadow: 5px 5px 5px black,
              inset 5px 5px 5px rgb(255 255 255 / .5),
              inset -5px -5px 5px rgb(0 0 0 / .5);
  background: linear-gradient(135deg, rgb(0 0 0 / 0), rgb(0 0 0 / .2) 30%), red;
}